<div>
  <label for="bookTitle">Title</label>
  <input type="text" name="title" id="bookTitle" value="<%= book.title %>" />
</div>

<div>
  <label for="author">Author</label>
  <select name="author" id="author">
    <% authors.forEach(author => { %> <% if(author.id === book.author) { %>
    <option
      value="<%= author.id %>"
      label="<%= author.name %>"
      selected
    ></option>
    <% } else { %>
    <option value="<%= author.id %>" label="<%= author.name %>"></option>
    <% } %> <% }) %>
  </select>
</div>

<div>
  <label for="publishDate">Publish Date</label>
  <input
    type="date"
    name="publishDate"
    id="publishDate"
    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
  />
</div>

<div>
  <label for="pageCount">Page Count</label>
  <input
    type="number"
    name="pageCount"
    id="pageCount"
    value="<%= book.pageCount %>"
    min=""
  />
</div>

<div>
  <label for="coverImage">Cover</label>
  <input type="file" name="coverImage" id="coverImage" />
</div>

<div>
  <label for="description"></label>
  <textarea name="description" id="description" cols="30" rows="10">
        <%= book.description %> 
    </textarea
  >
</div>
